@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}

@layer base {
    html {
        @apply text-slate-700;
    }
}
.ant-btn-primary:not([disabled]) {
    background: #1677ff !important;
}
.ant-btn-primary:not([disabled]):hover {
    background: #1f4ce0 !important;
}
